$firstColor :  #970C10;
$secondColor: #000000;
$nextPrevious: rgb(224, 159, 62);
$textColor: white;
$textMuted: rgba(0, 0, 0, 0.3);
$footerBg: #727272;
$footerText: rgba(255, 255, 255, 0.7);
$fontFamily: 'EB Garamond';
